<!DOCTYPE html>
<html>
<head>
	<title>About us</title>
	<link rel="shortcut icon" href="logo.png" >
	<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
	<script src="angular.min.js">
	</script>
	<style>
	img {
		height:300px;
		width:300px;
		margin-left:40%;
		border-radius: 50%;

	}
	img:hover {

transform: scale(1.1);
	}
	body{
		background:linear-gradient(to right,#02aab0,#00cdac);
	}
	#cs
	{
			text-align:center;
	}
	a{
	text-decoration:none;
	font-size:200%;
	padding-left:20px;
	}
h1
{
	font-family:Roboto;
}
h2
{
	font-family:Roboto;
}
#fontp{
	font-family:Raleway;
}
</style>
</head>
<body>
	<h1 align="center">About us</h1>
	<h2>What is Fruit App ?</h2>
	<p id="fontp">Fruit App is India’s largest online food and grocery store. With over 18,000 products and over a 1000 brands in our catalogue you will find everything you are looking for. Right from fresh Fruits and Vegetables, Rice and Dals, Spices and Seasonings to Packaged products, Beverages, Personal care products, Meats – we have it all.
Choose from a wide range of options in every category, exclusively handpicked to help you find the best quality available at the lowest prices. Select a time slot for delivery and your order will be delivered right to your doorstep, anywhere in Bangalore, Hyderabad, Mumbai, Pune, Chennai, Delhi, Noida, Mysore, Coimbatore, Vijayawada-Guntur, Kolkata, Ahmedabad-Gandhinagar, Lucknow-Kanpur, Gurgaon, Vadodara, Visakhapatnam, Surat, Nagpur, Patna, Indore and Chandigarh Tricity You can pay online using your debit / credit card or by cash / sodexo on delivery.
We guarantee on time delivery, and the best quality!</p>
<hr>
<h2 align="center">Our Team</h2>
<div ng-app="" ng-model="s" ng-init="x=[{image:'gsn.jpg',name:'G.S Nizami'},{image:'Satya.jpg',name:'Satyabrat pal'},{image:'hero.jpg',name:'Aman kumar'
},{image:'sushant.jpg',name:'Sushant gupta'}]">
<figure ng-repeat="y in x">
	<img ng-src="{{y.image}}">
	<h3 align="center">{{y.name}}</h3>
</figure>
<hr>
<div id="cs">
	<h1 align="center">Join us</h1>
	<a href="https://www.facebook.com">Facebook</a>
	<a href="https://www.instagram.com">Instagram</a>
	<a href="https://www.twitter.com">Twitter</a>
	</div>
</div>
</body>
</html>
